{:deps true
 :dev-http {8090 {:root "public"
                  :push-state/handler shadow.http.push-state/handle}}
 :builds
 {:app {:target            :browser
        :compiler-options  {:output-feature-set :es8}
        :modules           {:main {:init-fn app.core/init}}
        :output-dir        "public/js"
        :asset-path        "/js"
        :build-hooks       [(build-hooks.sw-stamp/stamp)]}}}
